%h1 Events listed by date (most recent first)
%table.table
   %thead
      %tr
         %th Date
         %th Project
         %th Environment
         %th Subject
         %th Message
   %tbody
      :each event in events
         %tr
            %td= event.date
            %td
               %a(href="/#/projects/#{event.project_name}")= event.project_name
            %td= event.environment_name
            %td= event.subject
            %td 
               %pre= event.message
